.pageContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  color: white;
  gap: 1rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    gap: 1rem;
    padding: 1rem;

    .titleContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .title {
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 0;
      }
    }

    .contentContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 1rem;
      flex-grow: 1;
      .shortUrlContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .shortUrl {
          word-break: break-all;
        }

        .copyButton {
          background-color: forestgreen;
          transition: all 0.2s ease;
          position: relative;

          &:hover {
            background: darken(forestgreen, 10%);
          }

          .checkIcon,
          .clipboardIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.3s ease;
          }

          .checkIcon {
            opacity: 0;
          }

          &[data-copied="true"] {
            .checkIcon {
              opacity: 1;
            }
            .clipboardIcon {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
